In [1]:
#pip install ucimlrepo
# Import the data
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, balanced_accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import confusion_matrix, classification_report, balanced_accuracy_score, roc_auc_score
#from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition = fetch_ucirepo(id=544) 
  
# data (as pandas dataframes) 
X = estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.features 
y = estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets 
  
# metadata 
print(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.metadata) 
  
# variable information 
print(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.variables)

{'uci_id': 544, 'name': 'Estimation of Obesity Levels Based On Eating Habits and Physical Condition ', 'repository_url': 'https://archive.ics.uci.edu/dataset/544/estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition', 'data_url': 'https://archive.ics.uci.edu/static/public/544/data.csv', 'abstract': 'This dataset include data for the estimation of obesity levels in individuals from the countries of Mexico, Peru and Colombia, based on their eating habits and physical condition. ', 'area': 'Health and Medicine', 'tasks': ['Classification', 'Regression', 'Clustering'], 'characteristics': ['Multivariate'], 'num_instances': 2111, 'num_features': 16, 'feature_types': ['Integer'], 'demographics': ['Gender', 'Age'], 'target_col': ['NObeyesdad'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2019, 'last_updated': 'Tue Sep 10 2024', 'dataset_doi': '10.24432/C5H31Z', 'creators': [], 'intro_paper': {'ID': 358, 'type': 'NATIVE', 'title': 'Dataset for estimation of obesity levels based on eating habits and physical condition in individuals from Colombia, Peru and Mexico', 'authors': 'Fabio Mendoza Palechor, Alexis De la Hoz Manotas', 'venue': 'Data in Brief', 'year': 2019, 'journal': None, 'DOI': '10.1016/j.dib.2019.104344', 'URL': 'https://www.semanticscholar.org/paper/35b40bacd2ffa9370885b7a3004d88995fd1d011', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'This dataset include data for the estimation of obesity levels in individuals from the countries of Mexico, Peru and Colombia, based on their eating habits and physical condition. The data contains 17 attributes and 2111 records, the records are labeled with the class variable NObesity (Obesity Level), that allows classification of the data using the values of Insufficient Weight, Normal Weight, Overweight Level I, Overweight Level II, Obesity Type I, Obesity Type II and Obesity Type III. 77% of the data was generated synthetically using the Weka tool and the SMOTE filter, 23% of the data was collected directly from users through a web platform.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Read the article (https://doi.org/10.1016/j.dib.2019.104344) to see the description of the attributes.', 'citation': None}}
                              name     role         type demographic  \
0                           Gender  Feature  Categorical      Gender
1                              Age  Feature   Continuous         Age
2                           Height  Feature   Continuous        None
3                           Weight  Feature   Continuous        None
4   family_history_with_overweight  Feature       Binary        None
5                             FAVC  Feature       Binary        None
6                             FCVC  Feature      Integer        None
7                              NCP  Feature   Continuous        None
8                             CAEC  Feature  Categorical        None
9                            SMOKE  Feature       Binary        None
10                            CH2O  Feature   Continuous        None
11                             SCC  Feature       Binary        None
12                             FAF  Feature   Continuous        None
13                             TUE  Feature      Integer        None
14                            CALC  Feature  Categorical        None
15                          MTRANS  Feature  Categorical        None
16                      NObeyesdad   Target  Categorical        None

                                          description units missing_values
0                                                None  None             no
1                                                None  None             no
2                                                None  None             no
3                                                None  None             no
4   Has a family member suffered or suffers from o...  None             no
5            Do you eat high caloric food frequently?  None             no
6        Do you usually eat vegetables in your meals?  None             no
7              How many main meals do you have daily?  None             no
8                  Do you eat any food between meals?  None             no
9                                       Do you smoke?  None             no
10                 How much water do you drink daily?  None             no
11         Do you monitor the calories you eat daily?  None             no
12           How often do you have physical activity?  None             no
13  How much time do you use technological devices...  None             no
14                    How often do you drink alcohol?  None             no
15           Which transportation do you usually use?  None             no
16                                      Obesity level  None             no

In [3]:
estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets

               NObeyesdad
0           Normal_Weight
1           Normal_Weight
2           Normal_Weight
3      Overweight_Level_I
4     Overweight_Level_II
...                   ...
2106     Obesity_Type_III
2107     Obesity_Type_III
2108     Obesity_Type_III
2109     Obesity_Type_III
2110     Obesity_Type_III

[2111 rows x 1 columns]

In [4]:
df = pd.DataFrame(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.features)
df['target'] = pd.DataFrame(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets)
#X = pd.DataFrame(df)
#df['target'] = pd.DataFrame(y)

In [5]:
X.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

In [6]:
df.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history_with_overweight',
       'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE',
       'CALC', 'MTRANS', 'target'],
      dtype='object')

In [53]:
#df[df.columns].value_counts()
#df['CALC'].value_counts()
#df[df.columns].values
#df_try = df[df.columns].value_counts().copy
#df[df.columns].value_counts()
df_try = df.copy()
str_to_int = {"yes": 1, 
              "no": 0,
             "Sometimes": 2,
              "Frequently": 3,
              "Always": 4,
              "Normal_Weight": 1,
              "Overweight_Level_I": 2,
              "Overweight_Level_II": 3,
              "Overweight_Level_III": 4,
              "Obese_Level_I": 5
             }
df_try[df.columns].values.unique
#df_try[df_try.columns] = df_try[df_try.columns].replace(str_to_int, regex=False)

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [63]:
#str_to_int = {"eight": 8, 
              #"five": 5,
              #"four": 4,
              #"six": 6,
              #"three": 3,
              #"twelve": 12,
              #"two": 2}
str_to_int = {'Male': 0,
              'Female': 1,
                'no': 0,
                'Sometimes': 1,
                'Frequently': 2,
                'Always': 3,
                'Insufficient_Weight': 0,
                'Normal_Weight': 1,
                'Overweight_Level_I': 2,
                'Overweight_Level_II': 3,
                'Obesity_Type_I': 4,
                'Obesity_Type_II': 5,
                'Obesity_Type_III': 6,
                'Public_Transportation': 0,
                'Automobile': 1,
                'Motorbike': 2,
                'Bike': 3,
                'Walking': 4
             }

# Fix the columns using the Pandas replace() method
df[df.columns] = df[df.columns].replace(str_to_int, regex=False)
df.head(20)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,target
0,1,21.0,1.62,64.0,1,0,2.0,3.0,2,0,2.0,0,0.0,1.0,0,0,1
1,1,21.0,1.52,56.0,1,0,3.0,3.0,2,1,3.0,1,3.0,0.0,2,0,1
2,0,23.0,1.80,77.0,1,0,2.0,3.0,2,0,2.0,0,2.0,1.0,3,0,1
3,0,27.0,1.80,87.0,0,0,3.0,3.0,2,0,2.0,0,2.0,0.0,3,4,2
4,0,22.0,1.78,89.8,0,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,0,3
5,0,29.0,1.62,53.0,0,1,2.0,3.0,2,0,2.0,0,0.0,0.0,2,1,1
6,1,23.0,1.50,55.0,1,1,3.0,3.0,2,0,2.0,0,1.0,0.0,2,2,1
7,0,22.0,1.64,53.0,0,0,2.0,3.0,2,0,2.0,0,3.0,0.0,2,0,1
8,0,24.0,1.78,64.0,1,1,3.0,3.0,2,0,2.0,0,1.0,1.0,3,0,1
9,0,22.0,1.72,68.0,1,1,2.0,3.0,2,0,2.0,0,1.0,1.0,0,0,1
10,0,26.0,1.85,105.0,1,1,3.0,3.0,3,0,3.0,0,2.0,2.0,2,0,4
11,1,21.0,1.72,80.0,1,1,2.0,3.0,3,0,2.0,1,2.0,1.0,2,0,3
12,0,22.0,1.65,56.0,0,0,3.0,3.0,2,0,3.0,0,2.0,0.0,2,0,1
13,0,41.0,1.80,99.0,0,1,2.0,3.0,2,0,2.0,0,2.0,1.0,3,1,4
14,0,23.0,1.77,60.0,1,1,3.0,1.0,2,0,1.0,0,1.0,1.0,2,0,1
15,1,22.0,1.70,66.0,1,0,3.0,3.0,4,0,2.0,1,2.0,1.0,2,0,1
16,0,27.0,1.93,102.0,1,1,2.0,1.0,2,0,1.0,0,1.0,0.0,2,0,3
17,1,29.0,1.53,78.0,0,1,2.0,1.0,2,0,2.0,0,0.0,0.0,0,1,4
18,1,30.0,1.71,82.0,1,1,3.0,4.0,3,1,1.0,0,0.0,0.0,0,1,3
19,1,23.0,1.65,70.0,1,0,2.0,1.0,2,0,2.0,0,0.0,0.0,2,0,2

In [64]:
df['target'].value_counts()

target
4    351
6    324
5    297
2    290
3    290
1    287
0    272
Name: count, dtype: int64

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   int64
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   int64
 5   FAVC                            2111 non-null   int64
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   int64
 9   SMOKE                           2111 non-null   int64
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   int64
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   int64
 15  MTRANS                          2111 non-null   int64
 16  target                          2111 non-null   int64
dtypes: float64(8), int64(9)
memory usage: 280.5 KB

In [14]:
df['CALC'].unique()

array(['no', 'Sometimes', 'Frequently', 'Always'], dtype=object)

In [ ]:
df['TUE'].unique()