In [1]:
#pip install ucimlrepo
# Import the data
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, balanced_accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import confusion_matrix, classification_report, balanced_accuracy_score, roc_auc_score
#from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition = fetch_ucirepo(id=544) 
  
# data (as pandas dataframes) 
X = estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.features 
y = estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets 
  
# metadata 
#print(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.metadata) 
  
# variable information 
#print(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.variables)

In [3]:
estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets

               NObeyesdad
0           Normal_Weight
1           Normal_Weight
2           Normal_Weight
3      Overweight_Level_I
4     Overweight_Level_II
...                   ...
2106     Obesity_Type_III
2107     Obesity_Type_III
2108     Obesity_Type_III
2109     Obesity_Type_III
2110     Obesity_Type_III

[2111 rows x 1 columns]

In [4]:
df = pd.DataFrame(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.features)
df['target'] = pd.DataFrame(estimation_of_obesity_levels_based_on_eating_habits_and_physical_condition.data.targets)
#X = pd.DataFrame(df)
#df['target'] = pd.DataFrame(y)

In [5]:
X.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

In [6]:
df.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history_with_overweight',
       'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE',
       'CALC', 'MTRANS', 'target'],
      dtype='object')

In [8]:
#str_to_int = {"eight": 8, 
              #"five": 5,
              #"four": 4,
              #"six": 6,
              #"three": 3,
              #"twelve": 12,
              #"two": 2}
str_to_int = {'Male': 0,
              'Female': 1,
                'no': 0,
                'yes': 1,
                'Sometimes': 1,
                'Frequently': 2,
                'Always': 3,
                'Insufficient_Weight': 0,
                'Normal_Weight': 1,
                'Overweight_Level_I': 2,
                'Overweight_Level_II': 3,
                'Obesity_Type_I': 4,
                'Obesity_Type_II': 5,
                'Obesity_Type_III': 6,
                'Public_Transportation': 0,
                'Automobile': 1,
                'Motorbike': 2,
                'Bike': 3,
                'Walking': 4
             }

# Fix the columns using the Pandas replace() method
df[df.columns] = df[df.columns].replace(str_to_int, regex=False)
df.head(20)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,target
0,1,21.0,1.62,64.0,1,0,2.0,3.0,1,0,2.0,0,0.0,1.0,0,0,1
1,1,21.0,1.52,56.0,1,0,3.0,3.0,1,1,3.0,1,3.0,0.0,1,0,1
2,0,23.0,1.80,77.0,1,0,2.0,3.0,1,0,2.0,0,2.0,1.0,2,0,1
3,0,27.0,1.80,87.0,0,0,3.0,3.0,1,0,2.0,0,2.0,0.0,2,4,2
4,0,22.0,1.78,89.8,0,0,2.0,1.0,1,0,2.0,0,0.0,0.0,1,0,3
5,0,29.0,1.62,53.0,0,1,2.0,3.0,1,0,2.0,0,0.0,0.0,1,1,1
6,1,23.0,1.50,55.0,1,1,3.0,3.0,1,0,2.0,0,1.0,0.0,1,2,1
7,0,22.0,1.64,53.0,0,0,2.0,3.0,1,0,2.0,0,3.0,0.0,1,0,1
8,0,24.0,1.78,64.0,1,1,3.0,3.0,1,0,2.0,0,1.0,1.0,2,0,1
9,0,22.0,1.72,68.0,1,1,2.0,3.0,1,0,2.0,0,1.0,1.0,0,0,1
10,0,26.0,1.85,105.0,1,1,3.0,3.0,2,0,3.0,0,2.0,2.0,1,0,4
11,1,21.0,1.72,80.0,1,1,2.0,3.0,2,0,2.0,1,2.0,1.0,1,0,3
12,0,22.0,1.65,56.0,0,0,3.0,3.0,1,0,3.0,0,2.0,0.0,1,0,1
13,0,41.0,1.80,99.0,0,1,2.0,3.0,1,0,2.0,0,2.0,1.0,2,1,4
14,0,23.0,1.77,60.0,1,1,3.0,1.0,1,0,1.0,0,1.0,1.0,1,0,1
15,1,22.0,1.70,66.0,1,0,3.0,3.0,3,0,2.0,1,2.0,1.0,1,0,1
16,0,27.0,1.93,102.0,1,1,2.0,1.0,1,0,1.0,0,1.0,0.0,1,0,3
17,1,29.0,1.53,78.0,0,1,2.0,1.0,1,0,2.0,0,0.0,0.0,0,1,4
18,1,30.0,1.71,82.0,1,1,3.0,4.0,2,1,1.0,0,0.0,0.0,0,1,3
19,1,23.0,1.65,70.0,1,0,2.0,1.0,1,0,2.0,0,0.0,0.0,1,0,2

In [9]:
df['target'].value_counts()

target
4    351
6    324
5    297
2    290
3    290
1    287
0    272
Name: count, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   int64
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   int64
 5   FAVC                            2111 non-null   int64
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   int64
 9   SMOKE                           2111 non-null   int64
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   int64
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   int64
 15  MTRANS                          2111 non-null   int64
 16  target                          2111 non-null   int64
dtypes: float64(8), int64(9)
memory usage: 280.5 KB

In [11]:
df['CALC'].unique()

array([0, 1, 2, 3], dtype=int64)

In [12]:
df['TUE'].unique()

array([1.      , 0.      , 2.      , ..., 0.646288, 0.586035, 0.714137])